<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753407162182-7s6dqh6edtkod16fiilqtk62cl6rb6gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753407162182-7s6dqh6edtkod16fiilqtk62cl6rb6gp</string>
	<key>API_KEY</key>
	<string>AIzaSyB8da_s6MBeBvL8wlYZjWpT_LkwRROmlY0</string>
	<key>GCM_SENDER_ID</key>
	<string>753407162182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthenticationIslemleri</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-dersler-51975</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-dersler-51975.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753407162182:ios:add0204139c68664e41747</string>
</dict>
</plist>